<div class="my-3">
  <h3>Replay Subject</h3>
  <br>
  <div class="row">
    <div class="col">
      <h3>{{methodInterval ? 'Add Video':'Interval Started'}}</h3>
    </div>
    <div class="col text-right">
      <button class="btn btn-warning" (click)="toggleMethod()">Toggle Button</button>
    </div>
  </div>
</div>

<hr>

<div *ngIf="!methodInterval"  class="row justify-content-center">
  <div class="col-md-4">
    <input type="text" class="form-control" #video/>
  </div>
  <div class="col-md-4">
    <button class="btn btn-success" (click)="onVideoAdd(video)">Add Video</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <strong>User 01</strong>
    <hr>
    <ul class="video-list">
      <li *ngFor="let item of user1List">
        <strong>Video</strong>  {{item}}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <strong>User 02</strong>
    <hr>
    <ul class="video-list">
      <li *ngFor="let item of user2List">
        <strong>Video</strong>  {{item}}
      </li>
    </ul>
    <button class="btn "
    [ngClass]="subscribeMode2 ? 'btn-danger' : 'btn-success'"
    (click)="user2Subscribe()">
    {{subscribeMode2 ? 'Unsbscribe Javax4u':'Subscribe Javax4u'}}</button>
  </div>
  <div class="col-md-4">
    <strong>User 03</strong>
    <hr>
    <ul class="video-list">
      <li *ngFor="let item of user3List">
        <strong>Video</strong>  {{item}}
      </li>
    </ul>
    <button class="btn "
    [ngClass]="subscribeMode3 ? 'btn-danger' : 'btn-success'"
    (click)="user3Subscribe()">
    {{subscribeMode3 ? 'Unsbscribe Javax4u':'Subscribe Javax4u'}}</button>
  </div>

</div>
