<div class="mx-3 my-3">

  <hr>
  <div class="container">
    <div class="row">
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>01. Take</strong> All</div>
          <div class="card-body ">
            <ul id="elContainer">
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>02. Take</strong> take 3</div>
          <div class="card-body">
            <ul id="elContainer2">
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>03. Take</strong> take last 3 </div>
          <div class="card-body">
            <ul id="elContainer3">
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col md-6">
        <div class="card">
          <div class="card-header"><strong>04. skip </strong> 1</div>
          <div class="card-body">
            <ul id="elContainer4">
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-6">
        <div class="card">
          <div class="card-header"><strong>05. Take until </strong> Mouse is clicked</div>
          <div class="card-body">
            <ul id="elContainer5">
            </ul>
          </div>
        </div>
      </div>

    </div>

    </div> <!-- container ends-->
</div>
<!--mx div ends -->
