<div class="mx-3 my-3">
  <h4>
    Interval and Timer !

  </h4>
  <br>

  <div class="container">
    <div class="row">
      <div class="col md-4">
        <div class="card">
          <div class="card-header">User -01</div>
          <div class="card-body">
            <ul id="elContainer"></ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header">User -02</div>
          <div class="card-body">
            <ul id="elContainer2"></ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header">User -03</div>
          <div class="card-body">
            <ul id="elContainer3"></ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container ends-->
</div>
<!--mx div ends -->
