<div class="mx-3 my-3">
  <h4>Of and From Operator</h4>
  <br>

  <strong>OF </strong>operature Usecase
  <hr>
  <div class="container">
    <div class="row">
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>Data:</strong>of('Rupesh','Apoorv','Piyush','Bob')</div>
          <div class="card-body">
            <ul id="elContainer"></ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>Data:</strong> ofObject (&#123;firstName:'Rupesh',middleName:'Kumar',lastName:'Singh'&#125;) </div>
          <div class="card-body">
            <ul id="elContainer2">
              <li><strong>First Name.</strong>{{ofObjectMessage.firstName}}</li>
              <li><strong>Middle Name.</strong>{{ofObjectMessage.middleName}}</li>
              <li><strong>Last Name.</strong>{{ofObjectMessage.lastName}}</li>
            </ul>
          </div>
        </div>
      </div>

      </div>
  </div> <!-- container ends-->
  <hr>
  <strong>From </strong>operature Usecase
  <div class="container">
    <div class="row">
      <div class="col md-3">
        <div class="card">
          <div class="card-header"><strong>Data:</strong>from Array</div>
          <div class="card-body">
            <ul id="elContainer3"></ul>
          </div>
        </div>
      </div>
      <div class="col md-3">
        <div class="card">
          <div class="card-header"><strong>Data:</strong> from Object </div>
          <div class="card-body">
            <ul id="elContainer4">
              <li><strong>First Name.</strong>{{fromObjectMessage.firstName}}</li>
              <li><strong>Middle Name.</strong>{{fromObjectMessage.middleName}}</li>
              <li><strong>Last Name.</strong>{{fromObjectMessage.lastName}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-3">
        <div class="card">
          <div class="card-header"><strong>Data:</strong> from Promise</div>
          <div class="card-body">
            <ul id="elContainer5">

            </ul>
          </div>
        </div>

      </div>


      </div>
      <div class="row">
        <div class="col md-3">
          <div class="card">
            <div class="card-header"><strong>Data:</strong> from String</div>
            <div class="card-body">
              <ul id="elContainer6">

              </ul>
            </div>
          </div>
      </div>
  </div> <!-- container ends-->
</div>
<!--mx div ends -->
