<div class="mx-3 my-3">
  <h6>Map  Operator</h6>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>Example O1 </strong> without map</div>
          <div class="card-body ">
            <ul id="elContainer">
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>Example O2:</strong> map (data => data *10) </div>
          <div class="card-body">
            <ul id="elContainer2">
            </ul>
          </div>
        </div>
      </div>
      <div class="col md-4">
        <div class="card">
          <div class="card-header"><strong>Example O3:</strong> map (data => data.firstName)</div>
          <div class="card-body">
            <ul id="elContainer3">
            </ul>
          </div>
        </div>
      </div>

    </div>
    </div> <!-- container ends-->
    <hr>
    <h6>Pluck Operator</h6>
    <div class="container">
      <div class="row">
        <div class="col md-12">
          <div class="card">
            <div class="card-header"><strong>Pluck Example O4:</strong> pluck ((address), (city)) </div>
            <div class="card-body">
              <ul id="elContainer4">
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
<!--mx div ends -->
