<div class="my-3 mx-3">
  <h4>Debounced Time and DistinctUnitChanged</h4>
  <br>
<div class="container">


  <div class="row">
    <div class="col-md-6">
      <strong>Ex-01 <span class="text-primary">Ex 01 DebounceTime</span></strong>
      <hr>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Search..</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg"
           placeholder="search.."  #myInput><br>
           <span>Data: <strong class="text-primary">{{requestData}}</strong></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Ex-01 <span class="text-success">Ex 02 DistinctUntilChanged</span></strong>
      <hr>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Search..</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg"
           placeholder="search.."  #myInput2>
           <span>Data: <strong class="text-primary">{{requestData2}}</strong></span>
        </div>
      </div>
    </div>
  </div>
</div>



